<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />

    <div class="flex flex-col w-full h-full">

<a routerLink="map" class="h-36 inline-block ">
    <div class="map-container relative w-full h-full">
        <span class="absolute top-3 left-5 z-50 font-poppins text-lg">Voir sur la carte</span>
        <div class="map-frame h-full w-full z-10 bg-white opacity-60">
            <div id="map" class="h-full w-full rounded-xl z-10"></div>
        </div>
    </div>
</a>
    </div>


