<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />

<a href="/medecin">
    <div class="flex flex-row z-30 absolute top-0 items-center bg-white pb-2 pr-4 pt-1 pl-2 gap-1 rounded-br-xl">
        <mat-icon>arrow_back</mat-icon>
        <span class="font-semibold text-lg font-poppins">Retour</span>
    </div>
</a>

<div class="map-container absolute top-0 bottom-0 left-0 right-0 z-0">
    <div class="map-frame h-full w-full">
        <div id="map" class="h-full w-full"></div>
    </div>
</div>
