<div>
    <app-title [title]="'Médecins'"></app-title>
    

    <div class="flex flex-col mt-5 px-5">
        <app-map></app-map>
        <app-search-bar></app-search-bar>
        <app-card class="mt-2" [title]="'Docteur sudaka'"></app-card>
        <app-card [title]="'Docteur Vigneron'"></app-card>
        <app-card [title]="'Docteur Gonzva'"></app-card>
        <app-card [title]="'Docteur de la forest'"></app-card>
        <app-card class="mb-14" [title]="'Docteur Gradus'"></app-card>
    </div>

</div>