<mat-toolbar class="bg-white z-20 shadow-t-md rounded-md flex flex-row justify-between">
    <a mat-mini-fab routerLink="" class="mat-elevation-z0" color="primary" >
        <mat-icon color="accent" class="material-icons-outlined">list_outlined</mat-icon>
    </a>

    <a  routerLink="medecin" mat-mini-fab class="mat-elevation-z0" color="primary" bg-col>
        <mat-icon color="accent" class="material-icons-outlined">medical_services_outlined</mat-icon>
    </a>

    <a  routerLink="/forum" mat-mini-fab class="mat-elevation-z0" color="primary" bg-col>
        <mat-icon color="accent" class="material-icons-outlined">forum_outlined</mat-icon>
    </a>

    <a  routerLink="/help" mat-mini-fab class="mat-elevation-z0" color="primary" bg-col>
        <mat-icon color="accent" class="material-icons-outlined">add_location_outlined</mat-icon>
    </a>

    <a  routerLink="/profile" mat-mini-fab class="mat-elevation-z0" color="primary" bg-col>
        <mat-icon color="accent" class="material-icons-outlined">person_outlined</mat-icon>
    </a>

</mat-toolbar>