<mat-toolbar class="bg-white z-20 shadow-md rounded-md">
    <button mat-mini-fab class="mat-elevation-z0" color="primary" bg-col>
        <mat-icon color="accent">list</mat-icon>
    </button>
    <button mat-mini-fab class="mat-elevation-z0" color="primary" bg-col>
        <mat-icon color="accent">medical_services</mat-icon>
    </button>
    <button mat-mini-fab class="mat-elevation-z0" color="primary" bg-col>
        <mat-icon color="accent">forum</mat-icon>
    </button>
    <button mat-mini-fab class="mat-elevation-z0" color="primary" bg-col>
        <mat-icon color="accent">add_location</mat-icon>
    </button>
    <button mat-mini-fab class="mat-elevation-z0" color="primary" bg-col>
        <mat-icon color="accent">person</mat-icon>
    </button>
</mat-toolbar>

