<mat-toolbar class="bg-white z-20 shadow-t-md rounded-md flex flex-row justify-between">
    <a href="" mat-mini-fab class="mat-elevation-z0" color="primary" bg-col>
        <mat-icon color="accent">list_outlined</mat-icon>
    </a>

    <a href="medecin" mat-mini-fab class="mat-elevation-z0" color="primary" bg-col>
        <mat-icon color="accent">medical_services_outlined</mat-icon>
    </a>

    <a href="/forum" mat-mini-fab class="mat-elevation-z0" color="primary" bg-col>
        <mat-icon color="accent">forum_outlined</mat-icon>
    </a>

    <a href="/help" mat-mini-fab class="mat-elevation-z0" color="primary" bg-col>
        <mat-icon color="accent">add_location_outlined</mat-icon>
    </a>

    <a href="/profile" mat-mini-fab class="mat-elevation-z0" color="primary" bg-col>
        <mat-icon color="accent">person_outlined</mat-icon>
    </a>

</mat-toolbar>