<div>
    <app-title [title]="'Premiers secours'"></app-title>

    <div class="w-full flex justify-center px-5 mt-5">
        <button mat-flat-button color="warn" class="w-full h-20 rounded-xl">
            <div class="flex flex-row items-center justify-between m-0">
                <span class="font-poppins text-lg">Appel à l'aide</span>
                <div class="flex flex-row gap-4 items-center">
                    <mat-icon fontIcon="call">call</mat-icon>
                    <span class="font-poppins">112</span>
                </div>

            </div>

        </button>
    </div>
</div>