<div>
    <app-title [title]="'Premiers secours'"></app-title>

    <div class="w-full flex flex-col justify-center px-5 mt-5">
        <a mat-flat-button href="tel:112"  color="warn" class="w-full h-20 rounded-xl items-center">
            <div class="flex flex-row items-center justify-between m-0 h-full">
                <span class="font-poppins text-2xl">Appel à l'aide</span>
                <div class="flex flex-row gap-4 items-center">
                    <mat-icon fontIcon="call">call</mat-icon>
                    <span class="font-poppins text-2xl">112</span>
                </div>
            </div>
        </a>

        <app-search-bar></app-search-bar>

        <app-card class="mt-2" [title]="'4 étapes pour porter secours'"></app-card>
        <app-card [title]="'Etouffement'"></app-card>
        <app-card [title]="'Saignement'"></app-card>
        <app-card [title]="'Perte de connaissance'"></app-card>
        <app-card class="mb-14" [title]="'Chute'"></app-card>

    </div>
</div>