<div class="border-2 w-full items-center rounded-lg">
    <h2 class="text-rose-600">{{ faceSnap.title }}</h2>
    <p class="text-green-500">Mis en ligne le {{ faceSnap.createdDate }}</p>
    <p>{{ faceSnap.description }}</p>
    <p>
        <button (click)="onAddSnap()">{{buttonText}}</button>
        {{ faceSnap.snaps }}
    </p>
    <img [src]="faceSnap.imageURL" [alt]="faceSnap.title" class="h-96">
    <p *ngIf="faceSnap.location">Photo prise à {{ faceSnap.location }}</p>
    <mat-divider></mat-divider>
    <button mat-raised-button color="accent">Accent</button>
</div>
