<div>
    <a routerLink="" class="">
        <div matRipple class="flex flex-row z-30 items-center pb-2 pr-4 pt-4 pl-2 gap-1">
            <mat-icon>arrow_back</mat-icon>
            <span class="text-lg font-poppins">Retour</span>
        </div>
    </a>

    <mat-chip-list>
        <mat-chip>Orange</mat-chip>
    </mat-chip-list>

    <div class="flex flex-row flex-wrap gap-3 justify-center">
        <app-conseil-card></app-conseil-card>
        <app-conseil-card></app-conseil-card>
        <app-conseil-card></app-conseil-card>
        <app-conseil-card></app-conseil-card>
        <app-conseil-card></app-conseil-card>
        <app-conseil-card></app-conseil-card>
        <app-conseil-card></app-conseil-card>
        <app-conseil-card></app-conseil-card>
        <app-conseil-card></app-conseil-card>
        <app-conseil-card></app-conseil-card>
        <app-conseil-card></app-conseil-card>
        <app-conseil-card></app-conseil-card>
        <app-conseil-card></app-conseil-card>
        <app-conseil-card></app-conseil-card>
        <app-conseil-card></app-conseil-card>
        <app-conseil-card></app-conseil-card>
        <app-conseil-card></app-conseil-card>
        <app-conseil-card></app-conseil-card>

    </div>
    <div class="h-16"></div>
</div>


