<div class="bg-primaryBG w-full rounded-xl flex flex-row justify-items-start my-2 relative">
    <mat-icon *ngIf="isCertified" class="absolute -top-2 -right-2 material-icons-outlined">verified_outlined</mat-icon>
    <img src="assets/profile-pic.jpg" alt="profile-pic" class="w-14 h-14 rounded-full flex-grow-0 mt-4 ml-4">
    <div class="w-full ml-8 flex flex-col">
        <div class="h-8 inline-block">
            <span *ngFor="let tag of tagList" class="h-6 bg-yellow-100 w-fit mt-1 px-2 rounded-3xl pt-1 inline-block font-poppins text-yellow-400 ml-1">{{tag}}</span>
        </div>
        <span class="font-poppins pb-3">{{question}}</span>
        <div class="flex flex-row justify-start pb-4">
            <div class="flex flex-row items-center">
                <mat-icon>favorite_outlined</mat-icon>
                <span class="pl-1 font-poppins">{{likes}}</span>
            </div>
            <div class="flex flex-row items-center ml-24">
                <mat-icon>chat_bubble_outlined</mat-icon>
                <span class="pl-1 font-poppins">{{comments}}</span>
            </div>
        </div>
    </div>
</div>